div.position {
    font-weight: bold;
}

.navbar-brand {
    padding: 5px 10px;
}

.position-first {
    background-color: #ffffbf;
}

.position-second {
    background-color: #dfdfdf;
}

.position-third {
    background-color: #ffdf9f;
}

.position-points {
    background-color: #dfffdf;
}

.position-finished {
    background-color: #cfcfff;
}

.position-dsq {
    background-color: #000;
    color: #fff;
}

.position-dnf {
    background-color: #efcfff;
}

.position-first.dropped {
    background: repeating-linear-gradient(-45deg, #ffffbf, #ffffbf 5px, #d0d0d0 5px, #d0d0d0 7px);
}

.position-second.dropped {
    background: repeating-linear-gradient(-45deg, #dfdfdf, #dfdfdf 5px, #d0d0d0 5px, #d0d0d0 7px);
}

.position-third.dropped {
    background: repeating-linear-gradient(-45deg, #ffdf9f, #ffdf9f 5px, #d0d0d0 5px, #d0d0d0 7px);
}

.position-points.dropped {
    background: repeating-linear-gradient(-45deg, #dfffdf, #dfffdf 5px, #d0d0d0 5px, #d0d0d0 7px);
}

.position-finished.dropped {
    background: repeating-linear-gradient(-45deg, #cfcfff, #cfcfff 5px, #dfdfdf 5px, #dfdfdf 7px);
}

.dropped {
    color: #888;
}

.driver-number {
    width: 3em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

td.position, th.position, td.points, th.points {
    text-align: center;
}

td.time, th.time {
    text-align: right;
}

.tablesorter-bootstrap tfoot td, .tablesorter-bootstrap tfoot th, .tablesorter-bootstrap thead td, .tablesorter-bootstrap thead th {
    font-size: smaller;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

}

.row-eq-height DIV {
    vertical-align: bottom;
}


ul.nav-tabs {
    margin-bottom: 1em;
}

H4 A.event-results {
    font-size: 90%;
}

.list-group-condensed {
    margin-top: 0.5em;
}

.panel .list-group-condensed {
    margin-top: 0em;
}

.list-group-condensed .list-group-item {
    padding: 5px 8px;
}

.btn-group-before-panel {
    margin-bottom: 0.5em;
}

.list-group-item-indent {
    padding-left: 30px;
}

.list-group-condensed .list-group-item-indent {
    padding-left: 24px;
}

.list-group-item-season {
    background-color: #c0e1f2;
}

.btn-youtube{color:#fff;background-color:#DC2725;border-color:rgba(0,0,0,0.2)}.btn-youtube:hover,.btn-youtube:focus,.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{color:#fff;background-color:#B21E1C;border-color:rgba(0,0,0,0.2)}
.btn-youtube:active,.btn-youtube.active,.open>.dropdown-toggle.btn-youtube{background-image:none}
.btn-youtube.disabled,.btn-youtube[disabled],fieldset[disabled] .btn-youtube,.btn-youtube.disabled:hover,.btn-youtube[disabled]:hover,fieldset[disabled] .btn-youtube:hover,.btn-youtube.disabled:focus,.btn-youtube[disabled]:focus,fieldset[disabled] .btn-youtube:focus,.btn-youtube.disabled:active,.btn-youtube[disabled]:active,fieldset[disabled] .btn-youtube:active,.btn-youtube.disabled.active,.btn-youtube[disabled].active,fieldset[disabled] .btn-youtube.active{background-color:#DC2725;border-color:rgba(0,0,0,0.2)}
.btn-youtube .badge{color:#DC2725;background-color:#fff}

.line-example {
    height: 0.4em;
    border: 0.2em solid;
    margin-top: 0.5em;
}
