div.position {
    font-weight: bold;
}

.navbar-brand {
    padding: 5px 10px;
}

.position-first {
    background-color: #ffffbf;
}

.position-second {
    background-color: #dfdfdf;
}

.position-third {
    background-color: #ffdf9f;
}

.position-points {
    background-color: #dfffdf;
}

.position-finished {
    background-color: #cfcfff;
}

.position-dsq {
    background-color: #000;
    color: #fff;
}

.position-dnf {
    background-color: #efcfff;
}

.position-first.dropped {
    background: repeating-linear-gradient(-45deg, #ffffbf, #ffffbf 5px, #d0d0d0 5px, #d0d0d0 7px);
}

.position-second.dropped {
    background: repeating-linear-gradient(-45deg, #dfdfdf, #dfdfdf 5px, #d0d0d0 5px, #d0d0d0 7px);
}

.position-third.dropped {
    background: repeating-linear-gradient(-45deg, #ffdf9f, #ffdf9f 5px, #d0d0d0 5px, #d0d0d0 7px);
}

.position-points.dropped {
    background: repeating-linear-gradient(-45deg, #dfffdf, #dfffdf 5px, #d0d0d0 5px, #d0d0d0 7px);
}

.position-finished.dropped {
    background: repeating-linear-gradient(-45deg, #cfcfff, #cfcfff 5px, #dfdfdf 5px, #dfdfdf 7px);
}

.dropped {
    color: #888;
}

.driver-number, .driver-number-white {
    width: 3em;
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.driver-number-white {
    border: 1px solid black;
    padding: 2px 6px;
}

td.position, th.position, td.points, th.points {
    text-align: center;
}

td.time, th.time {
    text-align: right;
}

.tablesorter-bootstrap tfoot td, .tablesorter-bootstrap tfoot th, .tablesorter-bootstrap thead td, .tablesorter-bootstrap thead th {
    font-size: smaller;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

}

.row-eq-height DIV {
    vertical-align: bottom;
}


ul.nav-tabs {
    margin-bottom: 1em;
}

H4 A.event-results {
    font-size: 90%;
}
