$fa-font-path: "../../vendor/fonts";
$flag-icon-css-path: "../../vendor/flags";
$icon-font-path: "../../vendor/fonts/";

@import "../bower/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../bower/font-awesome/scss/font-awesome";
@import "../bower/flag-icon-css/sass/_flag-icon";
