/** Teams come first, so entrants can override them **/

.entrant-29 { background-color: #FFA500; color: #FFFFFF; }
.entrant-30 { background-color: #D63733; color: #4170C2; }
.entrant-31 { background-color: #F8F798; color: #F8B9CE; }
.entrant-32 { background-color: #53868B; color: #26466D; }
.entrant-33 { background-color: #0072DA; color: #30363B; }
.entrant-34 { background-color: #FF69B4; color: #FFFFFF; }
.entrant-35 { background-color: #FF0000; color: #002868; }
.entrant-36 { background-color: #32CAFB; color: #4B93F3; }
.entrant-37 { background-color: #014225; color: #FFFFFF; }
.entrant-38 { background-color: #002200; color: #DCC60E; }
.entrant-39 { background-color: white; color: #0909B9;
border: 1px solid #0909B9; padding: 2px 6px; }
.entrant-40 { background-color: #051a50; color: #80acdd; }
.entrant-41 { background-color: #000000; color: #FF0000; }
.entrant-42 { background-color: #960008; color: #00968E; }
.entrant-43 { background-color: #FFA800; color: #000000; }
.entrant-44 { background-color: #760096; color: #EAD400; }
.entrant-45 { background-color: #23064D; color: #F5F5F5; }
.entrant-46 { background-color: #000000; color: #fea93c; }
.entrant-47 { background-color: #2F38EA; color: #FFFFFF; }
.entrant-48 { background-color: white; color: #014225;
border: 1px solid #014225; padding: 2px 6px; }
.entrant-49 { background-color: #BFFF00; color: #000000; }
.entrant-51 { background-color: #FF0000; color: #000000; }
.entrant-52 { background-color: #000080; color: #ffffff; }
.entrant-53 { background-color: #6F1C32; color: #D79332; }
.entrant-54 { background-color: white; color: #CDD704;
border: 1px solid #CDD704; padding: 2px 6px; }
.entrant-55 { background-color: #FF8000; color: #1318A1; }
.entrant-56 { background-color: #6441A5; color: #003366; }
.entrant-57 { background-color: #9CE187; color: #E3E3E3; }
.entrant-58 { background-color: #FCDB1C; color: #102CE3; }
.entrant-59 { background-color: #000000; color: #FFFFFF; }
.entrant-60 { background-color: #000000; color: #FF0000; }
.entrant-61 { background-color: white; color: #261B7A;
border: 1px solid #261B7A; padding: 2px 6px; }
.entrant-62 { background-color: #000000; color: #8F7800; }
