/** Teams come first, so entrants can override them **/
.team-13 { background-color: #e38600;
color: #ffffff; }
.team-14 { background-color: #a500ff;
color: #ffffff; }
.team-15 { background-color: #00F531;
color: #000000; }
.team-16 { background-color: #0E8E38;
color: #ffffff; }
.team-17 { background-color: #31E0B5;
color: #000000; }
.team-18 { background-color: #0054DA;
color: #ffffff; }
.team-19 { background-color: #FFCC00;
color: #000000; }
.team-27 { background-color: #f300f6;
color: #ffffff; }
.team-29 { background-color: #2BF69D;
color: #000000; }
.team-30 { background-color: #000000;
color: #ffffff; }
.team-32 { background-color: #40664D;
color: #ffffff; }

.entrant-158 {  }
.entrant-159 {  }
.entrant-160 {  }
.entrant-161 {  }
.entrant-162 {  }
.entrant-164 {  }
.entrant-166 {  }
.entrant-167 {  }
.entrant-168 { background-color: #FFA500;
color: #000000; }
.entrant-169 { background-color: #000000;
color: #ffffff; }
.entrant-170 { background-color: #000000;
color: #ffffff; }
.entrant-171 {  }
.entrant-172 {  }
.entrant-173 {  }
.entrant-174 {  }
.entrant-175 {  }
.entrant-176 { background-color: #000000;
color: #ffffff; }
.entrant-177 {  }
.entrant-178 {  }
.entrant-179 {  }
.entrant-180 { background-color: #ffffff;
color: #000000;
padding: 2px 6px; 
border: 1px solid #000000; }
.entrant-181 {  }
.entrant-182 {  }
.entrant-191 { background-color: #000000;
color: #ffffff; }
.entrant-192 { background-color: #000000;
color: #ffffff; }
.entrant-195 { background-color: #000000;
color: #ffffff; }
.entrant-197 { background-color: #000000;
color: #ffffff; }
.entrant-200 {  }
.entrant-201 {  }
.entrant-202 {  }
